@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MesloLGL";
  src: url("./assets/fonts/MesloLGL_Nerd_Font_Mono.otf") format("opentype");
}

*:not(.monaco-editor *) {
  font-family: "Sarabun", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-800;
  }
}

@layer components {
  .btn {
    @apply px-4 py-2 rounded-md font-medium transition-colors duration-200;
  }

  .btn-primary {
    @apply bg-indigo-600 text-white hover:bg-indigo-700;
  }
}
